.page{
    margin-top:300px;
    width: 500px;
    
}
.fondo{
    // background-image: url(https://wallpaperaccess.com/full/229832.jpg);    
    height: 100vh;
    // background-attachment: fixed;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
  }


.boton{
    background-color:  rgba(190, 173, 230, 0.623);
    color:white;
}