<div class="container">
  <div class="row">
    <h2 style="color:rgb(255, 255, 255);font-weight:600;" class="offset-5 mb-5">Pelis de {{usersService.users.username}}</h2>
      <div class="col-6 contimg offset-5"><img
          style="width: 200px;
        height: 200px;"
          [src]="usersService.users.avatar"
        /></div>
      <div class="col-4"></div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <!--ITERANDO CARDS CON SUS SECCIONES QUE VIENEN DE APP.COMPONENTS-->
    <div class="row">
      
  <div class="container">
    <div class="row">
      <div class="col-4 mt-4 mb-4 " *ngFor="let movie of movieService.movies">
        <div class="card backcolor" style="width: 18rem;">
          <img [src]="movie.poster" class="card-img-top imgSize" alt="Cargando..." />
          <div class="card-body">
            <h5 class="card-title">{{movie.title}}</h5>
            <p class="card-text">{{movie.status}}</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
    
  </div>
</div>

